<!-- PERSONAL SECTION --> 
<!-- about section --> 
<div class="containerstyle">
    <div class="about-me"> 
        <div class= "text-white py-5">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="col-md-12 justify-text-center align-self-center">
                        <h4>About me</h4>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ut harum doloremque quisquam enim ab veniam animi odit nemo consequuntur, nesciunt nulla nam totam esse maxime deleniti quas officia mollitia earum.</p>
                    </div>
            </div>
         </div> 
    </div>
  </div>
  </div>
  
<!-- end of about section -->