  <!-- Presentation section --> 
  
  <header class="main-header">     
    <div class= "background-overlay text-white py-5">
           <div class="container-fluid">
               <div class="row altoderow"> 
                   <div class="col-md-6 text-center justify-text-center align-self-center">
                       <h1>{{miPortfolio.name}}</h1>
                       <h2>{{miPortfolio.profesion}}</h2>
                    </div>
                    <div class="col-md-6 align-self-center">
                        <img [src]="miPortfolio.selfie" class="img-fluid d-none d-sm-block">
                     </div>
                </div>
           </div>
        </div> 
    <!-- end of Presentation section -->
  </header>