<!-- education section --> 
<div class="containerstyle">
    <div class="education"> 
        <div class= "text-white py-5">
            <div class="container-fluid">
                <div class="row"> 
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <h4>Education</h4>
                            </div>
                            <div class="col-md-5"></div>
                            <div class="col-sm-1">
                                <button style='font-size:14px'><i class="fa fa-pencil" aria-hidden="true"></i></button>
                            </div>
                        </div>
                        <div>
                            <ul *ngFor="let educacion of educacionLista">
                                <li class="py-5">
                                    <h5>{{educacion.establecimiento}}</h5>
                                    <h6>{{educacion.localidad}}</h6>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis assumenda maxime velit deserunt mollitia dicta a libero voluptate. Voluptate, maiores. Iure commodi vitae, officiis tenetur nulla quae qui reiciendis? Laborum.</p>
                                </li>
                            </ul>    
                        </div>
                    </div>
                </div> 
            </div>
        </div> 
  </div> 
  
  <!-- end of education section -->