<!-- experience section --> 
<div class="containerstyle">
    <div class="experience"> 
        <div class= "text-white py-5">
            <div class="container-fluid">
                <div class="row">                     
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 justify-text-center align-self-center">
                                    <h4>Experience</h4>
                                </div>
                                <div class="col-md-5"></div>
                                <div class="col-sm-1">
                                    <button style='font-size:14px'><i class="fa fa-pencil" aria-hidden="true"></i></button>
                                </div>
                            </div>
                        </div>
                        <ul>
                            <li class="py-5">
                                <h5>A job</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis assumenda maxime velit deserunt mollitia dicta a libero voluptate. Voluptate, maiores. Iure commodi vitae, officiis tenetur nulla quae qui reiciendis? Laborum.</p>
                            </li>
                            <li>
                                <h5>Another job</h5>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque velit molestiae libero fuga, atque aut accusamus beatae vitae quam incidunt facilis sequi alias itaque et quod maiores! Harum, vitae. Veniam!</p>
                            </li>
                        </ul>                    
                </div>
            </div>
        </div> 
    </div> 
  </div>
  <!-- end of experience section -->